@font-face{
    font-family:Circular;
    src:  url('https://sp-bootstrap.global.ssl.fastly.net/7.3.0/fonts/circular-book.woff2') format('woff2'),
          url('https://sp-bootstrap.global.ssl.fastly.net/7.3.0/fonts/circular-book.woff') format('woff');
    font-weight:400;
    font-style:normal;
}

@font-face{font-family:Circular;src:url('https://sp-bootstrap.global.ssl.fastly.net/7.3.0/fonts/circular-medium.woff2') format('woff2'),url('https://sp-bootstrap.global.ssl.fastly.net/7.3.0/fonts/circular-medium.woff') format('woff');font-weight:500;font-style:normal}
@font-face{font-family:Circular;src:url('https://sp-bootstrap.global.ssl.fastly.net/7.3.0/fonts/circular-bold.woff2') format('woff2'),url('https://sp-bootstrap.global.ssl.fastly.net/7.3.0/fonts/circular-bold.woff') format('woff');font-weight:700;font-style:normal}  
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i');


h1, h2 {
    font-family: 'Circular' !important;
    font-weight: bold !important;
}

h3 { 
    font-family: 'Circular' !important;
    font-weight: medium !important;
}

h4, h5 {
    font-family: 'Circular' !important;
    font-weight: normal !important;
}

body { 
    font-family: 'Roboto', sans-serif !important;
}

span.username a, div#user-card h2.username, a.mention {
    font-family: monospace;
    font-weight: bold;
}

span.username a  {
    background-color: #e9e9e9;
    color: #646464;
    padding: 2px 4px;
    border-radius: 8px;
}

span.username a:before, div#user-card h2.username:before {
    content: "@";
}

.topic-post.whisper button.reply, #reply-control.composing-whisper .submit-panel button.create {
   background-color: #F7941D;
   color: white; 
}
.topic-post.whisper button.reply:after, #reply-control.composing-whisper .submit-panel button.create:after {
  content: " as Whisper";
}
.topic-post.whisper, #reply-control.composing-whisper {
  background-color: #f7edea;
}

.extra-info-wrapper .topic-link {
    margin-left: 30px;
}
